<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs',{title: 'Listado de actores'}) %>

<body class="bg-primary-subtle">
    <%- include('./partials/header.ejs',{title: 'Listado de actores'}) %>
    <div class="col-8 mx-auto">
    <div class="col-12 d-flex justify-content-center">
        <h1>LISTADO DE ACTORES</h1>
    </div>
    <div class="col-12 col-md-3 mb-2">
        
        <a href="actors/add"><button class="btn btn-success">Agregar actor</button></a>
        
    </div>
        
    <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Ranking</th>
            <th scope="col"> Administrar</th>
          </tr>
        </thead>
        <tbody>
            <% actors.forEach((actor,index) => { %>
                <tr>
                    <th scope="row" class="text-center"> <%= index + 1 %></th>
                    <td class="px-5 text-center"><%= actor.first_name %> , <%= actor.last_name %></td>
                    <td class="text-center"><%= actor.ranking ? actor.ranking : 'Sin especificar'%></td>
                    <td>
                      <div class="d-flex gap-2">
                        <a href="/actors/detail/<%= actor.id %>"><button
                                type="button"
                                class="btn btn-sm  btn-primary">
                                <i class="fas fa-eye"></i>
                            </button></a>
                            <a href="/actors/edit/<%= actor.id %>"
                                class="btn btn-sm btn-success">
                                <i class="fas fa-edit"></i>
                            </a>

                            <button type="button"
                                class="btn btn-sm btn-danger"
                                data-bs-toggle="modal"
                                data-bs-target="#actor<%= actor.id%>">
                                <i class="fas fa-trash"></i>
                            </button>

                            <div class="modal" id="actor<%= actor.id%>"
                                tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div>
                                            <div
                                                class="modal-header">
                                                <h5 class="modal-title">
                                                    Advertencia</h5>
                                                <button type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                        </div>

                                        <div class="modal-body modal-body-background">
                                            <p>Vas a eliminar el actor
                                                <b><%= actor.first_name%>, <%= actor.last_name%></b> ¿Estas
                                                seguro?
                                            </p>
                                        </div>
                                        <div >
                                            <div
                                            class="modal-footer">
                                            <button type="button"
                                                class="btn btn-primary"
                                                data-bs-dismiss="modal">Cancelar</button>
                                            <form
                                                action="/actors/delete/<%= actor.id %>?_method=DELETE"
                                                method="POST">
                                                <button type="submit"
                                                    class="btn btn-danger">Eliminar
                                                </button>
                                            </form>
                                        </div>
                                            </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            <% }) %>
          <tr>
         
        </tbody>
      </table>
    </div>
      <%- include('./partials/footer.ejs') %>
</body>

</html>