<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs',{title: 'Listado de generos'}) %>
<body class="bg-primary-subtle">
    <%- include('./partials/header.ejs') %>
    <div class="col-12 d-flex justify-content-center">
        <h1>LISTADO DE GÉNEROS</h1>
    </div>
    <div class="col-10 col-md-4 mx-auto">
    <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">RANKING</th>
          </tr>
        </thead>
        <tbody>
            <% genres.forEach((genre,index) => { %>
                <tr>
                    <th scope="row" class="text-center"> <%= index + 1 %></th>
                    <td class="px-5"><%= genre.name %></td>
                    <td class="text-center"><%= genre.ranking%></td>
                    
                </tr>
            <% }) %>
          <tr>
         
        </tbody>
      </table>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
